<% javascript_includes << ['custom', {:plugin=>:hydra_repository, :media=>"all"}] %>
<% javascript_includes << ["catalog/show", {:plugin=>:hydra_repository, :media=>"all"}] %>

<div class="document_viewer" id="cover_container">

	<h1>
		<% unless get_values_from_datastream(@document_fedora,"DCA-META", [:title]).first.empty? %>
	      <%= get_values_from_datastream(@document_fedora,"DCA-META", [:title]).first %>
		<% else %>
			<%= params[:id] %>
		 <% end %>
	</h1>

  <% unless get_values_from_datastream(@document_fedora,"DCA-META", [:description]).first.empty? %>
  <fieldset><legend>Abstract</legend>
  <div id="abstract" class="browse_value">
      <%= white_list( RedCloth.new(get_values_from_datastream(@document_fedora,"DCA-META", [:description]).first, [:sanitize_html]).to_html) %>
  </div>
  </fieldset>
  <% end %>

</div>
